#buttonss{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nButton{
    margin: 30px;
    padding: 5px 10px 5px 10px;
    outline:none;
    color: white;
    border: none;
    filter: drop-shadow(3px 3px 1px  #2222225b);
    
}

.nButton span{
   
    font-size:15px;
    color: white;
    
}

.offline{

background-image: linear-gradient(to right, #494949 , #6a6a6a);
}

.online{

background-image: linear-gradient(to right, #004EF2, #0B85DB);

}
.nButton.online:active{
    
    background-image: linear-gradient(to right,#0B85DB, #72b2df );
}


#fileUpload{
    display: none;
}

#rot{
    filter: drop-shadow(3px 3px 1px  #2222225b);
    background-image: linear-gradient(to right, #004EF2, #0B85DB);
    color: white;
    height: 32px;
    width: 180px;
    margin: 30px;
    display: flex;
    align-items: center;
}

#rot:active{
    background-image: linear-gradient(to right,#0B85DB, #72b2df );
}

#rot span{
    color: white;
    padding-top: 8px;
}

#upLoadIMG{
    padding: 6px;
}

#graficos{
   
}

.chartsjs{
    display: block;
    width: 33px;
    height: 10px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 90px;
    
}

#backTop{
    z-index: 0;
    border-radius: 5px;
    position: fixed;
    width:50px;
    height:50px;
    background-image: linear-gradient(to right, #0B85DB, #72b2df );
    bottom: 40px;
    right: 50px;
}

#backTop img{
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
}