#buttonss{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nButton{
    margin: 30px;
    padding: 5px 10px 5px 10px;
    background-image: linear-gradient(to right, #004EF2, #0B85DB);
    color: white;
    border: none;
    filter: drop-shadow(3px 3px 1px  #2222225b);
    
}

#fileUpload{
    display: none;
}

#rot{
    filter: drop-shadow(3px 3px 1px  #2222225b);
    background-image: linear-gradient(to right, #004EF2, #0B85DB);
    color: white;
    height: 33px;
    width: 180px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#graficos{
   
}

#process{
    background-image: linear-gradient(to right, #494949 , #6a6a6a);
}

.chartsjs{
    display: block;
    width: 33px;
    height: 10px;
    margin: 0 auto;
    margin-top: 40px;
    
}