#popup{
    background: rgba(0, 0, 0, 0.589);
    height: 100%;
    width: 100%;
    position:fixed;
    top: 0;
    display : none;
    justify-content: center;
    align-items: center; 
}

#popupContent{
    display: inline-block;
    height: 350px;
    width: 600px;
    background:white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    animation: dropDown .5s;
}

#popupSystem{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

#popupContent h2{
    font-size: 3em;
    
}

#selectInfos{
    
}

.popupOp{
    
    width:50%;
    
}

#pop1{
    
}

#pop1 select{
    outline: none;
    width: 200px;
    margin-bottom: 20px;
}

#pop1 p{
    font-size: 0.8em;
    color: rgb(66, 66, 66);
    
}

#pop2{
    float: right;
}

#pop2 select{
    outline:none;
    width: 200px
}

#pop2 p{
    font-size: 0.8em;
    color: rgb(66, 66, 66);
    
}

.opt1{
    margin-bottom: 20px;
}

#selValues{
    text-align: left;
    font-size: 11px;
}

.close{
    color: red;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    left: 280px;
    position: relative;
    cursor: pointer;
}

@keyframes dropDown{
    0%{ 
        opacity:0;
        bottom: 20%;
    }

    100%{ 
        opacity:1;
        bottom: 0%;
    }
}

@keyframes pushUp{

}